!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width initial-scale=1' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' }
    %title Frank Showalter
    %meta{ name: 'description', content: 'Writer of many things' }
    = inline_stylesheet('app')
  %body
    %header.fs_mast
      .fs_mast-avatar
        = image_tag('frank.jpg', class: 'fs_mast-avatar_image', srcset: 'frank2x.jpg 2x, frank3x.jpg 3x');
      .fs_mast-social
        %a.fs_mast-social_link{ href: 'https://twitter.com/FrankShowalter' }
          = inline_svg('icon_twitter.svg')
        %a.fs_mast-social_link{ href: 'https://github.com/fshowalter' }
          = inline_svg('icon_github.svg')
      %h1.fs_mast-header Frank Showalter
      %p.fs_mast-slug Writer of many things.


    %main
      = yield

    = inline_javascript('app')
    %script
      :plain
        (function(d) {var config={kitId:'auj6pwo',scriptTimeout: 3000, active: window.set_rhythm },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);

