!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width initial-scale=1' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' }
    %title Frank Showalter
    %meta{ name: 'description', content: 'Writer of many things' }
    %link{ rel: 'alternate', type: 'application/atom+xml', title: 'Feed', href: '/feed.xml' }
    = inline_stylesheet('app')
  %body
    %header.fs_mast
      .fs_mast-avatar
        = image_tag('frank.jpg', class: 'fs_mast-avatar_image', srcset: 'frank2x.jpg 2x, frank3x.jpg 3x')
      .fs_mast-social
        %a.fs_mast-social_link{ href: 'https://twitter.com/FrankShowalter' }
          = inline_svg('icon_twitter.svg')
        %a.fs_mast-social_link{ href: 'https://github.com/fshowalter' }
          = inline_svg('icon_github.svg')
      %h1.fs_mast-header Frank Showalter
      %p.fs_mast-slug
        I’m not a great writer. Maybe not even a good one. <span class="nowrap">But with practice I can be better.</span>
    %main
      = yield
    = inline_javascript('app')
    - if build?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55282521-2', 'auto');
        ga('send', 'pageview');
